@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

.title {
  font-family: "Titillium Web", sans-serif;
  text-align: center;
  padding: 32px;
}

.intro {
  font-family: "Titillium Web", sans-serif;
  text-align: center;
  padding: 32px;
}

.emailTo {
  margin: 0 auto;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

li {
  justify-content: space-around;
}

@media (max-width: 480px) {
  .contactList ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    justify-content: space-around;
  }
  .contactList li {
    margin: 10px 0;
    padding: 40px 0;
  }
}
