.mainContainer {
  height: 240px;
  background-color: black;
  display: flex;
}

.headerTitle {
  position: relative;
  color: aqua;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
