.home-page {
  text-align: center;
  color: white;
  background-color: #353b48;
  font-family: "Roboto", sans-serif;
}

.home-page__title {
  font-size: 64px;
  margin-top: 0;
}

.home-page__image {
  width: 100%;
  height: auto;
  overflow: hidden;
  /* border-radius: 50%; */
  /* margin: 32px 0; */
}

.home-page__description {
  font-size: 18px;
  margin: 16px;
}

.home-page__banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 512px;
  background-color: #2f3640;
}

.home-page__banner-image {
  width: 512px;
  height: 512px;
}

.home-page__banner-text {
  color: white;
  margin-right: 32px;
}

.home-page__banner-title {
  font-size: 64px;
  margin-top: 0;
}

.home-page__banner-artist {
  font-size: 32px;
  margin-top: 0;
  color: lightgray;
}

.home-page__banner-description {
  font-size: 18px;
  margin: 16px;
}

.home-page__banner-icons {
  display: flex;
  justify-content: space-around;
  margin-top: 32px;
}

/* cards */
.cardContainer {
  display: flex;
  flex-wrap: wrap;
}

.cards {
  user-select: none;
  max-width: 300px;
  margin: 5rem auto;
  border: 1px solid #ffffff22;
  background-color: #282c34;
  background: linear-gradient(
    0deg,
    rgba(40, 44, 52, 1) 0%,
    rgba(17, 0, 32, 0.5) 100%
  );
  box-shadow: 0 7px 20px 5px #00000088;
  border-radius: 0.7rem;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  overflow: hidden;
  transition: 0.5s all;
}

.cards img {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  border: 1px solid #ffffff22;
  width: 15rem;
  height: 15rem;
  object-fit: cover;
  /* margin-left: 10%; */
  margin-top: 10px;
  margin: 10px;
}

.cards h2 {
  margin-top: 10px;
  color: #848484;
  padding: 8px;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}

.cards:hover {
  border: 1px solid #ffffff44;
  box-shadow: 0 7px 50px 10px #000000aa;
  transform: scale(1.015);
  filter: brightness(1.3);
  cursor: pointer;
}

.cards .cardTitle {
  font-size: 20px;
  color: #f1f1f1;
}

.cards :link {
  text-decoration: none;
}

.spotify {
  margin: 5px;
}

.mainSpotify:hover {
  border: 1px solid #44bd32;
  border-radius: 50%;
  box-shadow: 0 7px 50px 10px #4cd137;
  transform: scale(1.015);
  filter: brightness(1.3);
  cursor: pointer;
  overflow: hidden;
  transition: 0.5s all;
}

.recentWork {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .home-page__title {
    font-size: 10px;
  }
  .home-page__image {
    width: 100%;
    height: auto;
  }
  .home-page__description {
    font-size: 16px;
  }

  .home-page__banner {
    flex-direction: column;
    height: auto;
  }
  .home-page__banner-image {
    width: 256px;
    height: 256px;
    margin: 0 auto;
  }
  .home-page__banner-text {
    margin: 16px;
  }
  .home-page__banner-title {
    font-size: 32px;
  }

  .home-page__banner-artist {
    font-size: 22px;
  }
  .home-page__banner-description {
    font-size: 16px;
  }

  .cards {
    max-width: 90%;
    margin: 2rem auto;
  }

  .cards img {
    width: 50vw;
  }

  /* .cardContainer {
    flex-wrap: nowrap;
  }

  .cards {
    width: calc(50% - 1rem);
  } */
}
