.parallax3 {
  background-image: url("../Images/shows.jpg");
  height: 500px;
  min-width: 100%;
  padding-top: 10px;
  position: relative;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.shows-container {
  position: absolute;
  background-color: #444;
  font-family: "Roboto", sans-serif;
  min-width: 100vw;
  min-height: 100vh;
  color: white;
  text-align: center;
}
